# Ignore bin and output files
bin/
*.err
*.out
*.DS_Store

# Don't ignore example files
!**/example-*/
!**/example-*/**

# GROMACS output files
**/GROMACS/output/**/*.*
!**/GROMACS/output/**/*.log
!**/GROMACS/output/**/*.mdp
!**/GROMACS/output/**/job_info.log

# LAMMPS output files
**/LAMMPS/output/**/*.*

# NAMD output files
**/NAMD/output/**/*.*
!**/NAMD/output/**/*.out