# Ignore bin and output files
bin/
output/
*.err
*.out

# Don't ignore example files
!**/example-*/
!**/example-*/**

# GROMACS
HEL+water+NaCl/GROMACS/imdv3-hcho96/
!GROMACS/output/md.log
GROMACS/output/*